<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FFTabbar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>17D5402C1D6FD02B00B5E785</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17D540451D6FD02B00B5E785</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17D540501D6FD02B00B5E785</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
